section.app__component.app__component--register(class='{{ view == "register" ? "show": "hide" }}')

  form.app__component--register__form
    input.app__component--register__form__input(ng-model='signup.firstName',
                                                type='text',
                                                placeholder='Firstname')
    input.app__component--register__form__input(ng-model='signup.lastName',
                                                type='text',
                                                placeholder='Lastname')
    input.app__component--register__form__input(ng-model='signup.email',
                                                type='text',
                                                placeholder='e-mail')
    input.app__component--register__form__input(ng-model='signup.password',
                                                type='password',
                                                placeholder='password')
    button.app__component--register__form__button(ng-click='signUp()') Sign Up
